@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

body {
  background: #f5f6fa;
  font-family: Helvetica neue, sans-serif;
/*   height:1080px; */
/*   width:320px; */
  margin:0 auto;
/*   border:1px solid lightGrey; */
}

#mra_app {
  padding-bottom: 90px;
}

#mra_header_bar {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  background: #fff;
  padding: 30px 25px;
}

#mra_header_bar .mra_header_title {
  font-size: 20px;
}

#mra_header_bar .mra_header_icon {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: rbga(0, 0, 0, 0.4);
}




#mra_body {
  margin-top: 20px;
}

#mra_body .mra_body_header {
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
}

#mra_body .mra_body_header select {
  float: right;
  border: none;
  font-size: 12px;
  font-weight: 500;
  background: rgba(9, 16, 255, 0.08);
  color: rgba(9, 16, 255, 1);
  padding: 5px;
  border-radius: 8px;
  margin-top: -5px;
}

#mra_body .mra_body_data {
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#mra_body .row:nth-child(2) {
  margin-top: 15px;
}

#mra_body .mra_body_data ul {
  padding: 0;
}

#mra_body .mra_body_data ul li {
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.4);
}

.mra_body_data .medicine_info {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  height: 90%;
}

.mra_body_data .medicine_info > span {
  float: left;
}

.mra_body_data .medicine_info .m_icon {
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  height: 100%;
  border-radius: inherit;
}

.mra_body_dat .medicine_info .m_icon img {
  width: 25px;
}

.mra_body_dat .medicine_info .m_info {
  display: inline-block;
  padding-top: 5px;
}

.mra_body_data .medicine_info .m_info > span {
  display: block;
}

.mra_body_data .medicine_info .m_info span.m_name {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.mra_body_data .medicine_info .m_info span.m_dosage {
  font-size: 11.5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 1px;
}

.mra_body_data .medicine_info .m_info span.m_time {
  position: absolute;
  font-size: 12.5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 1px;
  bottom: 0;
  margin-bottom: 25px;
}

.mra_body_data .medicine_info .m_status {
  position: absolute;
  right: 0;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  line-height: 39px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  border: 1.5px dashed rgba(0, 0, 0, 0.15);
  border-radius:inherit;
}

.mra_body_data .medicine_info .m_status.true {
  background-color: rgba(14, 227, 111, 0.15);
  color: rgba(14, 227, 111, 1);
  border: 1px dashed rgba(0, 0, 0, 0);
}

#mra_body .col-3 {
  flex: 0 0 21%;
  max-width: 21%;
}

#mra_body .col-9 {
  flex: 0 0 79%;
  max-width: 79%;
  padding-left: 0;
}

.mra_body_data.color-violet ul li {
  border-right: 1px solid rgba(166, 0, 248, 0.25);
  box-shadow: 15px 0 10px -10px rgba(166, 0, 248, 0.15);
}

.mra_body_data.color-orange ul li {
  border-right: 1px solid rgba(253, 120, 11, 0.25);
  box-shadow: 15px 0 10px -10px rgba(253, 120, 11, 0.15);
}

.mra_body_data ul li:first-child {
  border-radius: 0 25px 0 0;
}

.mra_body_data ul li:last-child {
  border-radius: 0 0 25px 0;
}

.mra_body_data.color-violet .medicine_info .m_icon {
  /*   font-size:26px; */
  background-color: rgba(166, 0, 248, 0.15);
}

.mra_body_data.color-orange .medicine_info .m_icon {
  /*    font-size:26px; */
  background-color: rgba(253, 120, 11, 0.25);
}

#mra_footer {
  position: fixed;
  width: 100%;
  left: 0;
  margin:0 auto;
  bottom: 0;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 30px 30px 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -40px 20px -40px rgba(0, 0, 0, 0.1);
}

#mra_footer ul li span {
  margin-left: 3.5px;
}

#mra_footer ul li:not(.active) span {
  display: none;
}

#mra_footer ul {
  padding: 0;
}

#mra_footer ul li {
  list-style: none;
  float: left;
  text-align: center;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#mra_footer ul li i {
  font-size: 12.5px;
  font-weight: bold;
}

#mra_footer ul li.active {
  width: calc(100% / 2);
  background: rgba(9, 16, 255, 0.08);
  color: rgba(9, 16, 255, 1);
  border-radius: 100px;
}

#mra_footer ul li:not(.active) {
  width: calc(100% / 6);
  color: rgba(0, 0, 0, 0.9);
}



/* New Design Starts */






